<script>
		setTimeout(function(){
		var links = document.createElement('div');
		links.innerHTML ='<div class="table"><div class="tr"><div class="td left" width="33%"><a href="https://github.com/zijieKwok/OpenWrt/releases" target="_blank">固件下载</a></div><div class="td left" width="33%"><a href="https://github.com/zijieKwok/OpenWrt" target="_blank">GitHub仓库</a></div><div class="td left"><a href="https://ota.jac88.buzz" target="_blank">iStoreOS源码固件下载</a></div></div></div>';
		var telegram = document.querySelectorAll(".cbi-section")[0];
		telegram.appendChild(links);
		}, 3000);
</script>
